
$white: #ffffff;
$black: #1E1E1E;

$colorWarning: #f33d3d;

$colorPrimary500: #898F4B;

$colorSecondary600: #caae7b;
$colorSecondary500: #D2C295;
$colorSecondary200: #F6EED8;

$colorGrey900: #efefef;
$colorGrey800: #dedede;
$colorGrey700: #bababa;
$colorGrey600: #A4A4A4;
$colorGrey500: #8D8D8D;
$colorGrey400: #474747;
$colorGrey300: #373737;
